{
    "define": {
        "srcDir": "src",
        "binDir": "bin",
        "main": "app.nim",
        "mainExec": "app",
        "nimFilePattern": "[\\w\\W]*\\.[(nim)]+$"
    },
    "interval": 1000,
    "instanceId": "app-example-1",
    "task": {
        "buildAndRun": {
            "path": "<define.srcDir>",
            "pattern": "<define.nimFilePattern>",
            "onCreated": [],
            "onModified": [
                "<task.build.command.default>",
                "<task.run.command.default>"
            ],
            "onDeleted": []
        },
        "build": {
            "path": "<define.srcDir>",
            "pattern": "<define.nimFilePattern>",
            "command": {
                "default": [
                    {
                        "hostOS": ["all"],
                        "list": [
                            {"exec": "nim --outDir:<define.binDir> c <define.srcDir>::<define.main>", "ignoreFail": false}
                        ]
                    }
                ]
            },
            "onCreated": [],
            "onModified": ["<task.build.command.default>"],
            "onDeleted": []
        },
        "run": {
            "path": "<define.srcDir>",
            "pattern": "<define.nimFilePattern>",
            "command": {
                "default": [
                    {
                        "hostOS": ["all"],
                        "list": [
                            {"exec": "<define.binDir>::<define.mainExec>"}
                        ]
                    }
                ]
            },
            "onCreated": [],
            "onModified": ["<task.run.command.default>"],
            "onDeleted": []
        }
    }
}
